<p id="notice"><%= notice %></p>

<p>
  <b>Sca name:</b>
  <%= @person.sca_name %>
</p>

<p>
  <b>Group:</b>
  <%= link_to @person.group.name, @person.group %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
