<h1>Listing topics</h1>

<%= link_to 'New Topic', new_topic_path %>

<script>
</script>

<div id="topics">
  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>

    <% @topics.each do |topic| %>
        <tr>
          <td><%= link_to topic.name, topic, remote: true, id: "topic-#{topic.id}" %></td>
          <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
          <td><%= link_to 'Destroy', topic, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
        <script>
            $( bind_topic( '#topic-<%= topic.id %>' ) );
        </script>
    <% end %>
  </table>
</div>

<div id="subtopics">

</div>
